<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-3">
        <h2 class="title-section">We're <span class="marked">ready to</span> Serve you with best</h2>
        <div class="divider"></div>
        <p class="mb-5">We provide marketing services to startups & small business to looking for partner for their digital media, design & dev lead generation & communication.</p>
        <a href="#" class="btn btn-primary">More Details</a>
        <a href="#" class="btn btn-outline ml-2">See pricing</a>
      </div>
      <div class="col-lg-6 py-3">
        <div class="img-place text-center">
          <img src="../assets/img/bg_image_3.png" alt=""/>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->

